.values {
  font-size: 32px;
  color: #ff8800;
  text-align: center;
}

.values-grid {
  display: flex;
  justify-content: center;
  margin-left: 4%;
}

.value {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: space-between;
  margin-left: 8%;
  width: 20%;
}

.value svg {
  color: #ff8800;
  font-size: 48px;
  margin-right: 4%;
}

.value-sg {
  margin-right: 20%;
}

.value h3 {
  font-size: 24px;
  margin-top: 20px;
  color: #ff8800;
}

.value p {
  font-size: 16px;
  color: #777;
}

.values-container {
  margin-top: -5%;
  margin-right: 10%;
}

/* Media Query */
@media (max-width: 768px) {
  .values-grid {
    flex-wrap: wrap;
    margin-left: 0;
  }

  .value {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 20px;
  }

  .value-sg {
    margin-right: 0;
  }

  .values-container {
    margin-top: 0;
    margin-right: 0;
  }
}